/.curseclient
/.mixin.out
/.replay_cache
/backups
/crash-reports
/data
/emi.json
/ESM
/fabricloader.log
/figura
/journeymap
/local
/logs
/minecraftinstance.json
/minemenu
/modernfix
/mods
/observable_announce
/patchouli_books
/patchouli_data.json
/resourcepacks
/rhino.local.properties
/saves
/schematics
/screenshots
/shaderpacks
/TrashSlotSaveState.json
/usercache.json
/usernamecache.json
/kubejs/data/apotheosis/bosses/overworld/zombie.json
/config
/ffmpeg-7.1-essentials_build
/replay_videos
/replay_recordings
/fancymenu_data

hs_err_pid48600.log
hs_err_pid43136.log
export.log
options.txt
