/.curseclient
/.mixin.out
/.vscode
/backups
/crash-reports
/data
/emi.json
/ESM
/fabricloader.log
/figura
/journeymap
/local
/logs
/minecraftinstance.json
/minemenu
/modernfix
/mods
/observable_announce
/patchouli_books
/patchouli_data.json
/resourcepacks
/rhino.local.properties
/saves
/schematics
/screenshots
/shaderpacks
/TrashSlotSaveState.json
/usercache.json
/usernamecache.json